// Foundation variable settings, copied as of 6.2
@import "settings";

// Core foundation
@import "foundation-sites/scss/foundation";

// Call mixin to get all foundation CSS
@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-off-canvas;
@include foundation-menu-icon;
@include foundation-float-classes;
@include foundation-callout;
@include foundation-accordion;
@include foundation-tabs;

// Site specific variables
@import "vars";

// Style Guide Components
@import "@waynestate/styleguide/src/scss/wsuheader";

// Include Slick
@import "slick-carousel/slick/slick";
@import "slick-carousel/slick/slick-theme";

// Include Magnific Pop-up
@import "magnific-popup/src/css/_settings";
@import "magnific-popup/src/css/main";

// Partials
@import "partials/fonts";
@import "partials/menu-main";
@import "partials/menu-top";
@import "partials/menu-offcanvas";
@import "partials/content";
@import "partials/nanobar";
@import "partials/footer-social";
@import "partials/footer-contact";
@import "partials/news";
@import "partials/under-menu";
@import "partials/breadcrumbs";
@import "partials/profile-listing";
@import "partials/profile-view";

// Reusable Components
@import "components/accordion";
@import "components/formy";
@import "components/hero";
@import "components/mini-list";
@import "components/table-stack";

@media only screen and (max-width: 1062px) {
  /*div.vertical-centering.title-area > a > h2{*/
  /*display: none !important;*/
  /*}}*/

  div.vertical-centering.title-area > a > h2{
    font-size:14px !important;
    margin-top:20px !important;
  }
}
@media only screen and (max-width: 1087px) {
  /*div.vertical-centering.title-area > a > h2{*/
  /*display: none !important;*/
  /*}}*/

  div.vertical-centering.title-area > a > h2{
    font-size:16px !important;
    margin-top:15px !important;
    width:200px !important;
  }


}

/*@media only screen and (max-width: 787px){*/
/*.menu {*/
/*display:none !important;*/
/*}}*/

@media only screen and (min-width: 1200px){
  .gridsa{
    max-width:800px;
  }
}

div.vertical-centering.title-area > a > img{
  margin-top:10px;
}

div.vertical-centering.title-area > a > h2{
  margin-top:15px;
  margin-left:10px;
  color:white;
  width:250px;
  font-size: 20px;
}
div.vertical-centering.lend-title > a > img {
  margin-top:10px;
}
div.vertical-centering.lend-title > a > h2 {
  margin-top:15px;
  margin-left:10px;
  color:white;
  width:320px;
  font-size: 16px;
}

@media(max-width:1133px){
  .menu{
    display:none !important;
  }
  div.vertical-centering.lend-title > a > img {
    margin-top:10px;
  }
  div.vertical-centering.lend-title > a > h2 {
    margin-top:15px;
    margin-left:10px;
    color:white;
    width:320px;
    font-size: 16px;
  }

}

.menu > li > a{
  color:white;
  font-weight: bold;
  margin-top: 13px
}


@media(max-width:1087px) {
  .title-area a h2{

  }
}
* { box-sizing: border-box; }


body{
  font-family: "Open Sans";

}

h1.page-title{
  color:#0c5449;
}
h1{
  font-family: "Open Sans";
}

h2{
  font-family: "Open Sans";
}

h3{
  font-family: "Open Sans";
}

/* ---- isotope ---- */
.gridsa {
  margin: 0px auto;
}

/* clear fix */
.gridsa:after {
  content: '';
  display: block;
  clear: both;
}
/* ---- .grid-item ---- */
.gridsa-sizer,
.gridsa-item {
  width: 33.333%;
}

.gridsa-item {
  padding:0px;
  float:left;
}
.gridsa-item img {
  display: block;
  max-width: 100%;
  position:relative;

  width: 100%;
  height: auto;

}
.gridsa-item h2{
  color:#ffffff;
  position: absolute;
  bottom: 5%;
  left: 33.3%;
  width: 100%;
}

.gridsa-item.tile2 h2{
  color:#ffffff;
  position: absolute;
  bottom: 1px;
  left: 25%;
  width: 50%;
}

.gridsa-item.tile3 h2{
  color:#ffffff;
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 80%;
}


.gridsa-item img {
  display: block;
  max-width: 100%;
  position:relative;

  width: 100%;
  height: auto;
  padding:5px;
}
.gridsa-item h2{
  color:#ffffff;
  position: absolute;
  bottom: 5%;
  width: 100%;
}



.ga{
  background-color: #0c5449;
}
.ga-lend{
  background-color: #cccccc;
}
.lend-title{
  width:400px !important;
}
.ddi-content {
  background-color: #cccccc;
  /*#595959*/
}

.lend-content {
  background-color: #0c5449;
  /*#595959*/
}
.lend-content .row{
  background-color: white;
  padding:25px;
}
.ddi-content .row{
  background-color: white;
  height:100%;
  padding:25px;
}

.footer-social{
  margin-top: -10px;
}

.child-hero{
  background-color: #0c5449;
}

.grid-img{
  text-align: left;
  padding-bottom: 20px;
  padding-top:10px
}

.land{padding:5px;}

.landp{
  margin-right:2.5px;
  margin-left:2.5px;
}
.grid-row h3{
  margin-top:-40px;
  color:white;
  margin-left:20px
}

@media(max-width: 865px){
  .grid-row h3{
    font-size: 14px;
    margin-top:-30px;
    margin-left:10px
  }
}


.hero-child{
  background-position: center top !important;
  background-size: cover !important;
  min-height: 300px;
}



dl.listing.events dt, dl.listing.events dd{
  float:left;
  margin-right:5px;
}

time{
  background-color:#0c5449;
  display:block;
  padding:5px;
  color:#ffffff;
}

body {
  font-family: 'Open Sans' !important;
  color: #222;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}
h1, h2, h3, h4, h5 {
  margin: 0 0 10px;
}
h1 {
  font-family: 'Open Sans' !important;
  color: #0C5449;
  font-size: 25px;
  line-height:35px;
  font-weight: bold;
}
h2 {
  font-family: 'Open Sans' !important;
  color: #0C5449;
  font-size: 18px;
  line-height:25px;
  font-weight: normal;
}
h3 {
  font-family: 'Open Sans' !important;
  color: #595959;
  font-size: 18px;
  line-height:25px;
  font-weight: normal;
}
h4 {
  font-family: 'Open Sans' !important;
  color: #0C5449;
  font-size: 14px;
  font-weight: normal;
}
h5 {
  font-family: 'Open Sans' !important;
  color: #595959;
  font-size: 14px;
  font-weight: normal;
}

.news-col{
  padding-left:50px;
}

#octAccess .open, #octAccess .octContainer {
  background-color: #0c5449 !important;
  border: 1px solid #000000 !important;
}

.news-listing dl time{
  background-color: white;
}

.news-item time{
  background-color: white;
}

h2.lend-heading{
  margin-top: 15px;
  margin-left: 10px;
  color: white;
  width: 320px !important;
  font-size: 16px !important;
}

button, .button{
  border-radius: 3px !important;
}