/* Content Style */
.content {
    // Forces the content area to be full width when the menu is hidden
    @include breakpoint($menu-top-breakpoint down) {
        width: 100%;
        left: 0;
    }

    h1.page-title {
        margin: rem-calc(20) 0 $header-margin-bottom;
    }

    h1:not(.page-title),
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0 0 rem-calc(5) 0;
    }

    h3 {
        font-weight: normal;
    }

    .logout {
        float: right;
        margin-top: -2.25em;
        color: $primary-color;
    }

    a {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    // Remove the dotted border below the abbr text and inherit color
    abbr,
    abbr[title],
    acronym,
    acronym[title] {
        color: inherit;
        border: none;
    }

    ul:not([class]),
    ol,
    dl {
        list-style-position: outside;
        margin-left: 2em;
    }

    blockquote {
        padding: 1em;
        background-color: #fff9eb;
        border: none;

        p {
            font-family: "ABeeZee", sans-serif;
            font-style: italic;
            font-weight: medium;
            font-size: 1.5em;
            color: #0c5449;
            margin-bottom: 0;
        }
    }

    table {
        border: none;
        width: 100%;
        margin: 0 0 $paragraph-margin-bottom;

        th,
        td {
            line-height: 1.5;
            text-align: left;
        }

        // Header
        thead tr {
            border-collapse: collapse;
            background: #00565c;

            &,
            a {
                color: #fff;
                text-decoration: none;
                font-weight: bold;
                border-bottom: none;
            }

            th {
                text-align: left;
                font-weight: bold;
                padding: 15px 10px;
            }

            th.center-align {
                text-align: center;
            }
        }

        // Body
        tbody tr {
            border-bottom: 1px solid #eaeaea;

            td {
                text-align: left;
                padding: 10px;
                font-size: 14px;
            }

            &:nth-child(odd) {
                background: #f4f4f4;
            }

            &:nth-child(even) {
                background: #fcfcfc;
            }

            &:hover {
                background: #fffbef;
            }
        }

        tbody th {
            padding: 10px;
        }
    }

    img {
        padding: 10px;

        @include breakpoint($menu-top-breakpoint down) {
            display: block;
            width: 100%;
            margin: 10px auto;
            padding: 0;

            &[class^="float-"] {
                float: none !important;
            }

            &.icon {
                display: inline-block;
                width: inherit;
                margin: 10px;
            }
        }
    }
}
