.hero__block {
    // Dependent on browser width
    height: 36.3vw;
    max-height: 550px;
    display: block;
    background-size: cover;
    background-position: center top;
}

.hero--childpage {
    // Appears outside of the row on small
    height: 36.3vw;
    margin-left: -15px;
    margin-right: -15px;

    @include breakpoint(xlarge up) {
        // Dependent on column width not browser width
        height: auto;
        padding-top: 36.3%;
        margin: 0;
    }
}
